---
layout: layouts/home.njk
eleventyNavigation:
  key: Главная
  order: 1
---

<h1>Последние 3 поста</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Больше статей вы найдете <a href="{{ '/posts/' | url }}">в архиве</a>.</p>
